# IntelliJ specific
.idea/
*.iml
out/
build/
.gradle/
gradle/wrapper/gradle-wrapper.jar

PluginConfig.kt
**/PluginConfig.kt
.intellijPlatform/
repomix-output.xml
repomix-outputkeep.xml
repomix-outputfix1.xml